<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/login.css' />
  </head>
  <body>
    <div class="login-page">
      <div class="form">
       <form class="login-form" method="POST" action="/loginCheck">
         <input type="text" name = "voterID" placeholder="VoterID Number"/>
         <input type="password" name = "password" placeholder="Password"/>
         <button value="submit">login</button>
         <p class="message">Not registered? <a href="/registration">Create an account</a></p>
      </form>
     </div>
   </div>
  </body>
</html>
