<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/login.css' />
  </head>
  <body>
    <div class="login-page">
      <div class="form">
       <form class="success_form" action="/">
         <button value="submit">Go To Home</button>
       </form>
     </div>
   </div>
  </body>
</html>
